<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Blog</title>
    <link rel="stylesheet" href="/public/partial.css" />
    <link rel="stylesheet" href="/public/create.css" />
    <link rel="icon" href="/public/images.jpeg" type="image/x-icon">
  </head>
  <body>
    <%- include("../partial/header.ejs") %>
    <div class="content">
      <form action="/blogs/create" method="POST">
        <label for="name">Name:</label><br />
        <input type="text" name="name" id="name" required/><br />
        <label for="snippet">Snippet:</label><br />
        <input type="text" name="snippet" id="snippet" required/><br />
        <label for="category">Category:</label><br />
        <div class="category">
          <input type="radio" id="programming" name="category" value="programming" required/>
          <label for="programming">Programming</label><br />
        </div>
        <div class="category">
            <input type="radio" id="cooking" name="category" value="cooking" required/>
            <label for="cooking">Cooking</label><br />
          </div>
          <div class="category">
            <input type="radio" id="skills" name="category" value="skills" required/>
            <label for="skills">Life Skills</label><br />
          </div>

        <label for="author">Author:</label><br />
        <input type="text" name="author" id="author" required/><br />
        <label for="content">Content:</label><br />
        <textarea name="content" id="content" cols="30" rows="10" required></textarea
        ><br />
        <input type="submit" value="Send Blog" />
      </form>
    </div>
    <%- include("../partial/footer.ejs") %>
  </body>
</html>
