<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/public/404.css">
    <link rel="icon" href="/public/images.jpeg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="center">
        <div class="content">
            <h1>404</h1>
            <h4>Opps! Page not found</h4>
            <p>Hehe, ja ja bủh bủh lmao dảk wa<br>
            The requested URL was not found on this server.<br>
            That's all we know. See you next time!
            </p>
            <a href="/">Home Page</a>
          </div>
    </div>
</body>
</html>