<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="/public/partial.css">
    <link rel="stylesheet" href="/public/about.css" />
    <link rel="icon" href="/public/images.jpeg" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include("partial/header.ejs") %>
    <div class="content">
      <h2 class="title">About me:</h2>
      <ul>
        <li>Name: Le Trong Hoang Minh</li>
        <li>Gender: Male</li>
        <li>Age: 19</li>
        <li>Student at Da Nang University of Technologies</li>
      </ul>
      <h2 class="title">Contact me via:</h2>
      <ul>
        <li>Facebook: https://www.facebook.com/psychologist229/</li>
        <li>Phone Number: 0943707317</li>
        <li>Gmail: letronghoangminh@gmail.com</li>
        <li>Source code: https://github.com/letronghoangminh/Blog</li>
      </ul>
    </div>
    <%- include("partial/footer.ejs") %>
  </body>
</html>
