<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/partial.css">
    <link rel="stylesheet" href="/public/profile.css" />
    <link rel="icon" href="/public/images.jpeg" type="image/x-icon">
</head>
<body>
    <%- include("partial/header.ejs") %>
    <div class="content">
        <h2 class="title">Your Profile:</h2>
        <ul>
            <li>Username: <%= user.username %></li>
            <li>Email: <%= user.email %></li>
            <li>Role: Blogger, User</li>
        </ul>
    </div>
    <%- include("partial/footer.ejs") %>
</body>
</html>