* {
    margin: 0;
    padding: 0;
}
/* Header */

.header {
    width: 100%;
    background-color: rgb(194, 192, 192);
    z-index: 1;
}

.header > ul {
    display: flex;
    width: 1450px;
    margin: auto;
    list-style-type: none;
    height: 74.4px;
    z-index: 1;
}

.header > ul > li {
    background-color: rgb(194, 192, 192);
    padding: 20px;
    height: 34.4px;
    z-index: 1;
}

.header > ul > li:hover {
    background-color: rgb(138, 137, 137);
    padding: 15px 20px 25px 20px;
    transition: 0.4s;
}

.header > ul > li > a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 30px;
    z-index: 1;
}

.categories {
    position: relative;
    height: 74.4px;
    z-index: 1;
}


.categories .top {
    font-size: 30px;
    color: rgb(61, 61, 61);
    height: 74.4px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.categories ul {
    list-style-type: none;
    position: absolute;
    top: 79.4px; /*59.3*/
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.categories:hover ul {
    opacity: 1;
    visibility: visible;
}

.categories .drop li {
    width: 100%;
    background-color: rgb(212, 208, 208); 
    padding-bottom: 20px;
    margin-left: -20px;
    width: 250px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.4s;
    z-index: 1;
}

.categories .drop li:hover {
    background-color: rgb(161, 161, 161);
    padding-left: 30px;
    padding-right: 10px;
}


.categories .drop li a {
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-size: 30px;
    z-index: 1;
}

/* Footer */

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(131, 131, 131);   
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 30px;
}
