<div class="header">
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/blogs">All Blogs</a></li>
    <li>
      <div class="categories">
        <div class="top">Categories</div>
        <ul class="drop">
          <li><a href="/categories/programming">Programming</a></li>
          <li><a href="/categories/cooking">Cooking</a></li>
          <li><a href="/categories/skills">Life Skills</a></li>
        </ul>
      </div>
    </li>
    <li><a href="/blogs/create">Create New Blog</a></li>
    <li><a href="/auth/login">Log In</a></li>
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
    <li><a href="/about">About Me</a></li>
  </ul>
</div>
